@page "/nuevoaula"
@inject IGenericService<Aula> aulaService
@inject NavigationManager NavigationManager

@if (aula == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <h3>Agregando un aula</h3>
    <EditForm Model="aula" OnValidSubmit="GuardarAula">
        <DataAnnotationsValidator />
        <label class="form-label mb-2">Nombre del aula:</label>
        <InputText class="form-control mb-2" type="text" @bind-Value="aula.Nombre" />
       
    </EditForm>
}
@code {

    public Aula? aula { get; set; }

    protected override void OnInitialized()
    {
        aula = new Aula();
    }

    private async Task GuardarAula()
    {
        await aulaService.AddAsync(aula);
        NavigationManager.NavigateTo("/aulas");
    }
}
