@page "/horas"

@inject IGenericService<Hora> horaService
@inject SweetAlertService SweetAlert
@inject IMemoryCacheService MemoryCacheService


<PageTitle>Horas</PageTitle>
<h1>Horas</h1>

@if (horas == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <NuevoEditarHora Hora="@currentHora" OnCancelar="Cancelar" OnGuardar="Guardar" />
     <TableHoras ListHoras="horas" OnEditar="Editar" OnEliminar="Eliminar" /> 
}

@code {
    private List<Hora>? horas;
    private Hora? currentHora;

    protected override async Task OnInitializedAsync()
    {
        horas= MemoryCacheService.Horas;
        //horas = await horaService.GetAllAsync();
    }

    private async void Eliminar(Hora hora)
    {
        SweetAlertResult respuesta = await SweetAlert.FireAsync(new SweetAlertOptions
            {
                Title = "Borrando Hora",
                Text = $"¿Está seguro que desea borrar la hora {hora.Nombre}",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si, quiero borrarlo!",
                CancelButtonText = "No, espera"
            });
        if (respuesta.IsConfirmed)
        {
            await horaService.DeleteAsync(hora.Id);
            MemoryCacheService.Horas = await horaService.GetAllAsync();
            horas = MemoryCacheService.Horas;
            StateHasChanged();
        }
    }
    private async Task Guardar()
    {
        MemoryCacheService.Horas = await horaService.GetAllAsync();
        horas = MemoryCacheService.Horas;
        currentHora = null;
        StateHasChanged();

    }
    private async Task Cancelar()
    {
        currentHora = null;
    }
    private async Task Editar(Hora hora)
    {
        currentHora = hora;
    }
}
