@using InstitutoServices.Models.Login
@inject FirebaseAuthService AuthService
@inject NavigationManager NavigationManager
@inject IUsuarioService usuarioService
@inject IInscriptoCarreraService inscriptoCarreraService
@inject ILogger<NavMenu> logger

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Instituto Nº20</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>



        @if (userFirebaseAuthenticate!=null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="turnosexamenes">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Turnos exámenes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="cicloslectivos">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ciclos lectivos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="horas">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Horas
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="docentes">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Docentes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="alumnos">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Alumnos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="carreras">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Carreras
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="aulas">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Aulas
                </NavLink>
            </div>



            <div class="nav-item px-3">
                <NavLink class="nav-link" href="inscripciones">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Inscripciones
            </NavLink>
        </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mesasexamenes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mesas de exámenes
            </NavLink>
        </div>
        @if(usuario?.TipoUsuario==TipoUsuarioEnum.Alumno)
        {
            var idcarrera=inscripcionesACarreras?.FirstOrDefault()?.CarreraId;
            <div class="nav-item px-3">
                <a class="nav-link" href="horarios?IdCicloLectivo=1&IdCarrera=@idcarrera">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Horarios
                </a>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="horarios">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Horarios
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            @if (userFirebaseAuthenticate != null)
            {
                <div class="user-info-container d-flex flex-column align-items-center p-3">
                    <a href="perfilusuario">
                        <img src="@userFirebaseAuthenticate?.PhotoUrl" class="rounded-circle user-photo mb-2" />
                    </a>

                        <span class="user-name">@userFirebaseAuthenticate?.DisplayName</span>
                    
                    <button class="logout-button btn btn-outline-light mt-2" @onclick="CerrarSesion">
                        <span class="bi-box-arrow-in-right" aria-hidden="true"></span> @textoMenuLogin
                    </button>
                </div>
            }
            else
            {
                <NavLink class="nav-link" href="login">
                    <span class="bi-box-arrow-in-right" aria-hidden="true"></span> @textoMenuLogin
                </NavLink>
            }
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    Usuario? usuario { get; set; }
    public List<InscriptoCarrera>? inscripcionesACarreras { get; set; }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    FirebaseUser? userFirebaseAuthenticate { get; set; } = null;

    private string textoMenuLogin => userFirebaseAuthenticate!=null ? "Cerrar sesión" : "Iniciar sesión";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected async override Task OnInitializedAsync()
    {
        userFirebaseAuthenticate = await AuthService.GetUserAuthenticated();
        usuario = await usuarioService.GetUserByEmail(userFirebaseAuthenticate?.Email);
        if(usuario!=null&&usuario.TipoUsuario==TipoUsuarioEnum.Alumno)
        {
            inscripcionesACarreras = await inscriptoCarreraService.GetByAlumno(usuario.AlumnoId);
        }

        AuthService.OnChangeLogin += ChequeoEstadoLogin;
    }

    public void Dispose()
    {
        AuthService.OnChangeLogin -= ChequeoEstadoLogin;
    }
    public async void ChequeoEstadoLogin()
    {
        userFirebaseAuthenticate = await AuthService.GetUserAuthenticated();
        StateHasChanged();
        //si ya hay alguien autenticado lo envio al componente perfilUsuario
        if (userFirebaseAuthenticate != null)
        {
            NavigationManager.NavigateTo("/perfilusuario");
        }
    }
    private async Task CerrarSesion()
    {
        await AuthService.SignOut();
        userFirebaseAuthenticate = await AuthService.GetUserAuthenticated();
        StateHasChanged();
    }
}
