
<div>
    <h4>Datos del Docente</h4>
    <p>Nombre: @docente.Nombre</p>
    
</div>




@code {
    [Parameter]
    public Docente docente { get; set; }



    protected override async Task OnInitializedAsync()
    {


    }



    
}