<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in ListEntity)
        {
            <tr>
                <td>@entity.Id</td>
                <td>@entity.Nombre</td>
                <td>
                    <button title="Seleccionar" class="btn btn-danger" @onclick="@(()=>HandleSeleccionar(entity))">Seleccionar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<IEntityIdNombre> ListEntity { get; set; }

    [Parameter]
    public EventCallback<IEntityIdNombre> OnSeleccionar { get; set; }


    private void HandleSeleccionar(IEntityIdNombre entity)
    {
        OnSeleccionar.InvokeAsync(entity);
    }
}
