
@if (usuario != null)
{
    <div>
        <p>Nombre: @usuario.User</p>
        <p>Email: @usuario.Email</p>
        <p>Tipo de usuario: @usuario.TipoUsuario</p>
    </div>
}
@code {
    [Parameter]
    public Usuario usuario { get; set; }
}